In [1]:
'''
사용법 : 코드를 Run All한뒤, 대륙명(한/영) 국가명(한/영 only Asia),
         시작일('yyyy-MM-dd'),종료일('yyyy-MM-dd')을 입력하면 CSV파일이 자동 생성됩니다.
         추가로, 옵션(선택사항에서) 변수의 사용자입력 옵션을 변경할수 있습니다.
'''

continentName       =    '아시아'
countryName         =    '대만'           # 현재는 아시아만 지원됨
# startDate           =    '2016-06-01'     # 1년치
# endDate             =    '2023-05-01'      
# startDate           =    '2016-06-01'     # 3년치
# endDate             =    '2019-05-01'
startDate           =    '2015-06-01'     # 4년치
endDate             =    '2019-05-01'

In [2]:
#---------------------
# 1) 모듈 자동 리로드
#---------------------
%load_ext autoreload
%autoreload 2

#---------------------
# 2) 항시적용모듈
#---------------------
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#---------------------
# 3) 파싱을위한모듈
#---------------------
from utils import *
from utils2 import *
from youtubeApi import YoutubeApi
from countryCodeAPI import CountryCodeApi

import csv
import json
from urllib import parse
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm
from collections import OrderedDict

In [3]:
# 4) 한글폰트세팅
import matplotlib
import matplotlib.font_manager as fm
font_location = "C:\\Windows\\Fonts\\Malgun.ttf"
font_name = fm.FontProperties(fname=font_location).get_name()
matplotlib.rc('font',family=font_name)

# 5) sns 테마설정
sns.set_theme(style='whitegrid')


# 7) 객체 인스턴스 생성
utils = Utils
utils2 = Utils2

In [4]:
# 8) 사용자 대륙/국가명 세팅

# 영문 대륙명 생성
continentNameEng = utils2.translateKorToEngForContinent(continentName)
# 영문 국가명 생성(only asia)
countryNameEng = utils2.translateKorToEngForCountry(countryName)

# 한글 대륙명 생성
continentNameKor = utils2.translateEngToKorForContinent(continentName)
# 한글 국가명 생성(only asia)
countryNameKor = utils2.translateEngToKorForCountry(countryName)


print(f'continentNameEng :   {continentNameEng}')
print(f'countryNameEng   :   {countryNameEng}')
print(f'continentNameKor :   {continentNameKor}')
print(f'countryNameKor   :   {countryNameKor}')

continentNameEng :   asia
countryNameEng   :   taiwan
continentNameKor :   아시아
countryNameKor   :   대만

In [5]:
#========================================================================================================#
#                                               데이터프레임 생성(선택국가)                                           
#========================================================================================================#

In [6]:
# 1) 선택한 대륙의 한국인 방문객 CSV 파일 로드(데이터프레임)
#------------------
continentDataFrame =  utils2.getContinentalDataFrameFromCSV(f'../data/{continentNameEng }_data_kor.csv')
continentDataFrame

,Year,month,법무부_명수,법무부_전년대비,일본_명수,일본_전년대비,중국_명수,중국_전년대비,베트남_명수,베트남_전년대비,...,사이프러스_명수,사이프러스_전년대비,부탄_명수,부탄_전년대비,요르단_명수,요르단_전년대비,네팔_명수,네팔_전년대비,예멘_명수,예멘_전년대비
0,2004년,1월,793478.0,NaN,164785.0,NaN,186246.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2월,670447.0,NaN,142718.0,NaN,215373.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3월,587629.0,NaN,112516.0,NaN,190382.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4월,642413.0,NaN,120427.0,NaN,223062.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,5월,680185.0,NaN,115659.0,NaN,202592.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,2023년,1월,1782313.0,11.088887,565251.0,446.192247,NaN,NaN,258946.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,NaN,2월,1724880.0,14.302071,568622.0,621.806134,NaN,NaN,301343.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,3월,1472193.0,9.117956,466810.0,68.735584,NaN,NaN,250649.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,4월,1497105.0,5.955321,467000.0,59.657228,NaN,NaN,259357.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,5월,1683022.0,4.326946,515700.0,57.568995,NaN,NaN,247538.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 2) 선택국가의 데이터(연,월,방문객수,연간증가율) 추출과
#    결측치를 처리한 데이터프레임 생성
#------------------
countryDataFrame = utils2.getCountryDataFrame(continentDataFrame,countryNameKor)
countryDataFrame

      Year Month  NumVisitors  annualGrowthRate
0    2004년    1월       1.2193          0.000000
1    2004년    2월       1.3916          0.000000
2    2004년    3월       1.2077          0.000000
3    2004년    4월       1.2802          0.000000
4    2004년    5월       1.1188          0.000000
..     ...   ...          ...               ...
228  2023년    1월       3.6536        123.272109
229  2023년    2월       5.9195        163.888579
230  2023년    3월       5.2300        127.817734
231  2023년    4월       5.8950        132.371041
232  2023년    5월       0.0000          0.000000

[233 rows x 4 columns]

In [8]:
# 3) 데이터 타입변환을 위한 info출력
#------------------
countryDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              233 non-null    object
 1   Month             233 non-null    object
 2   NumVisitors       233 non-null    float64
 3   annualGrowthRate  233 non-null    float64
dtypes: float64(2), object(2)
memory usage: 7.4+ KB

In [9]:
# 4) 연속된 값으로 날짜처리(Date는 DataFrame의 index로 실제 csv에 반영X)
#------------------
countryDataFrame = utils2.changeYearAndMonthDtypeToInt(countryDataFrame)
countryDataFrame

     Year  Month  NumVisitors  annualGrowthRate       Date
0    2004      1       1.2193          0.000000 2004-01-01
1    2004      2       1.3916          0.000000 2004-02-01
2    2004      3       1.2077          0.000000 2004-03-01
3    2004      4       1.2802          0.000000 2004-04-01
4    2004      5       1.1188          0.000000 2004-05-01
..    ...    ...          ...               ...        ...
228  2023      1       3.6536        123.272109 2023-01-01
229  2023      2       5.9195        163.888579 2023-02-01
230  2023      3       5.2300        127.817734 2023-03-01
231  2023      4       5.8950        132.371041 2023-04-01
232  2023      5       0.0000          0.000000 2023-05-01

[233 rows x 5 columns]

In [10]:
# 5) 선택한 날짜로 필터링
#------------------
countryDataFrame = utils2.extractDataByDateFilter(countryDataFrame,startDate,endDate)
display(countryDataFrame)

     Year  Month  NumVisitors  annualGrowthRate       Date
137  2015      6       3.6696          0.084718 2015-06-01
138  2015      7       4.5349          0.229437 2015-07-01
139  2015      8       5.4320          0.238345 2015-08-01
140  2015      9       4.6770          0.242825 2015-09-01
141  2015     10       5.9864          0.247583 2015-10-01
142  2015     11       5.9168          0.226331 2015-11-01
143  2015     12       6.9555          0.384041 2015-12-01
144  2016      1       8.5640          0.138815 2016-01-01
145  2016      2       7.6407          0.324395 2016-02-01
146  2016      3       5.6442          0.134900 2016-03-01
147  2016      4       6.2668          0.257737 2016-04-01
148  2016      5       6.4106          0.174468 2016-05-01
149  2016      6       6.1599          0.678630 2016-06-01
150  2016      7       7.1641          0.579770 2016-07-01
151  2016      8       7.8023          0.436359 2016-08-01
152  2016      9       7.2200          0.543725 2016-09-01
153  2016     10       7.3819          0.233112 2016-10-01
154  2016     11       8.2274          0.390515 2016-11-01
155  2016     12       9.9578          0.431644 2016-12-01
156  2017      1      11.2078          0.308711 2017-01-01
157  2017      2       9.4803          0.240763 2017-02-01
158  2017      3       8.6945          0.540431 2017-03-01
159  2017      4       8.4249          0.344370 2017-04-01
160  2017      5       7.9543          0.240804 2017-05-01
161  2017      6       7.2031          0.169353 2017-06-01
162  2017      7       7.1320         -0.004481 2017-07-01
163  2017      8       7.5390         -0.033746 2017-08-01
164  2017      9       7.2012         -0.002604 2017-09-01
165  2017     10       9.4207          0.276189 2017-10-01
166  2017     11       9.8161          0.193099 2017-11-01
167  2017     12      11.3641          0.141226 2017-12-01
168  2018      1      12.9355          0.154152 2018-01-01
169  2018      2       9.2515         -0.024134 2018-02-01
170  2018      3       7.8392         -0.098373 2018-03-01
171  2018      4       6.6555         -0.210020 2018-04-01
172  2018      5       7.6389         -0.039652 2018-05-01
173  2018      6       6.4436         -0.105441 2018-06-01
174  2018      7       6.2696         -0.120920 2018-07-01
175  2018      8       7.1653         -0.049569 2018-08-01
176  2018      9       7.7457          0.075612 2018-09-01
177  2018     10       9.0026         -0.044381 2018-10-01
178  2018     11      10.0382          0.022626 2018-11-01
179  2018     12      10.9266         -0.038498 2018-12-01
180  2019      1      11.6976         -0.095698 2019-01-01
181  2019      2      11.4425          0.236826 2019-02-01
182  2019      3       9.4907          0.210672 2019-03-01
183  2019      4       8.0214          0.205229 2019-04-01
184  2019      5       8.0273          0.050845 2019-05-01

In [11]:
# 6-1) 컬럼 재정렬
#------------------
countryDataFrame = utils2.arrangeDataFrameColumns(countryDataFrame)
countryDataFrame

     Year  Month       Date  NumVisitors  annualGrowthRate
137  2015      6 2015-06-01       3.6696          0.084718
138  2015      7 2015-07-01       4.5349          0.229437
139  2015      8 2015-08-01       5.4320          0.238345
140  2015      9 2015-09-01       4.6770          0.242825
141  2015     10 2015-10-01       5.9864          0.247583
142  2015     11 2015-11-01       5.9168          0.226331
143  2015     12 2015-12-01       6.9555          0.384041
144  2016      1 2016-01-01       8.5640          0.138815
145  2016      2 2016-02-01       7.6407          0.324395
146  2016      3 2016-03-01       5.6442          0.134900
147  2016      4 2016-04-01       6.2668          0.257737
148  2016      5 2016-05-01       6.4106          0.174468
149  2016      6 2016-06-01       6.1599          0.678630
150  2016      7 2016-07-01       7.1641          0.579770
151  2016      8 2016-08-01       7.8023          0.436359
152  2016      9 2016-09-01       7.2200          0.543725
153  2016     10 2016-10-01       7.3819          0.233112
154  2016     11 2016-11-01       8.2274          0.390515
155  2016     12 2016-12-01       9.9578          0.431644
156  2017      1 2017-01-01      11.2078          0.308711
157  2017      2 2017-02-01       9.4803          0.240763
158  2017      3 2017-03-01       8.6945          0.540431
159  2017      4 2017-04-01       8.4249          0.344370
160  2017      5 2017-05-01       7.9543          0.240804
161  2017      6 2017-06-01       7.2031          0.169353
162  2017      7 2017-07-01       7.1320         -0.004481
163  2017      8 2017-08-01       7.5390         -0.033746
164  2017      9 2017-09-01       7.2012         -0.002604
165  2017     10 2017-10-01       9.4207          0.276189
166  2017     11 2017-11-01       9.8161          0.193099
167  2017     12 2017-12-01      11.3641          0.141226
168  2018      1 2018-01-01      12.9355          0.154152
169  2018      2 2018-02-01       9.2515         -0.024134
170  2018      3 2018-03-01       7.8392         -0.098373
171  2018      4 2018-04-01       6.6555         -0.210020
172  2018      5 2018-05-01       7.6389         -0.039652
173  2018      6 2018-06-01       6.4436         -0.105441
174  2018      7 2018-07-01       6.2696         -0.120920
175  2018      8 2018-08-01       7.1653         -0.049569
176  2018      9 2018-09-01       7.7457          0.075612
177  2018     10 2018-10-01       9.0026         -0.044381
178  2018     11 2018-11-01      10.0382          0.022626
179  2018     12 2018-12-01      10.9266         -0.038498
180  2019      1 2019-01-01      11.6976         -0.095698
181  2019      2 2019-02-01      11.4425          0.236826
182  2019      3 2019-03-01       9.4907          0.210672
183  2019      4 2019-04-01       8.0214          0.205229
184  2019      5 2019-05-01       8.0273          0.050845

In [12]:
# 6.xx) Year 와 Month를 object로 변환(선택)
#------------------
countryDataFrame = utils2.changeYearAndMonthDtypeToObject(countryDataFrame)
countryDataFrame

      Year Month       Date  NumVisitors  annualGrowthRate
137  2015년    6월 2015-06-01       3.6696          0.084718
138  2015년    7월 2015-07-01       4.5349          0.229437
139  2015년    8월 2015-08-01       5.4320          0.238345
140  2015년    9월 2015-09-01       4.6770          0.242825
141  2015년   10월 2015-10-01       5.9864          0.247583
142  2015년   11월 2015-11-01       5.9168          0.226331
143  2015년   12월 2015-12-01       6.9555          0.384041
144  2016년    1월 2016-01-01       8.5640          0.138815
145  2016년    2월 2016-02-01       7.6407          0.324395
146  2016년    3월 2016-03-01       5.6442          0.134900
147  2016년    4월 2016-04-01       6.2668          0.257737
148  2016년    5월 2016-05-01       6.4106          0.174468
149  2016년    6월 2016-06-01       6.1599          0.678630
150  2016년    7월 2016-07-01       7.1641          0.579770
151  2016년    8월 2016-08-01       7.8023          0.436359
152  2016년    9월 2016-09-01       7.2200          0.543725
153  2016년   10월 2016-10-01       7.3819          0.233112
154  2016년   11월 2016-11-01       8.2274          0.390515
155  2016년   12월 2016-12-01       9.9578          0.431644
156  2017년    1월 2017-01-01      11.2078          0.308711
157  2017년    2월 2017-02-01       9.4803          0.240763
158  2017년    3월 2017-03-01       8.6945          0.540431
159  2017년    4월 2017-04-01       8.4249          0.344370
160  2017년    5월 2017-05-01       7.9543          0.240804
161  2017년    6월 2017-06-01       7.2031          0.169353
162  2017년    7월 2017-07-01       7.1320         -0.004481
163  2017년    8월 2017-08-01       7.5390         -0.033746
164  2017년    9월 2017-09-01       7.2012         -0.002604
165  2017년   10월 2017-10-01       9.4207          0.276189
166  2017년   11월 2017-11-01       9.8161          0.193099
167  2017년   12월 2017-12-01      11.3641          0.141226
168  2018년    1월 2018-01-01      12.9355          0.154152
169  2018년    2월 2018-02-01       9.2515         -0.024134
170  2018년    3월 2018-03-01       7.8392         -0.098373
171  2018년    4월 2018-04-01       6.6555         -0.210020
172  2018년    5월 2018-05-01       7.6389         -0.039652
173  2018년    6월 2018-06-01       6.4436         -0.105441
174  2018년    7월 2018-07-01       6.2696         -0.120920
175  2018년    8월 2018-08-01       7.1653         -0.049569
176  2018년    9월 2018-09-01       7.7457          0.075612
177  2018년   10월 2018-10-01       9.0026         -0.044381
178  2018년   11월 2018-11-01      10.0382          0.022626
179  2018년   12월 2018-12-01      10.9266         -0.038498
180  2019년    1월 2019-01-01      11.6976         -0.095698
181  2019년    2월 2019-02-01      11.4425          0.236826
182  2019년    3월 2019-03-01       9.4907          0.210672
183  2019년    4월 2019-04-01       8.0214          0.205229
184  2019년    5월 2019-05-01       8.0273          0.050845

In [13]:
# 6.xx) 인덱스 초기화(선택)
#------------------
countryDataFrame = utils2.resetIndexForDataFrame(countryDataFrame)
countryDataFrame

     Year Month       Date  NumVisitors  annualGrowthRate
0   2015년    6월 2015-06-01       3.6696          0.084718
1   2015년    7월 2015-07-01       4.5349          0.229437
2   2015년    8월 2015-08-01       5.4320          0.238345
3   2015년    9월 2015-09-01       4.6770          0.242825
4   2015년   10월 2015-10-01       5.9864          0.247583
5   2015년   11월 2015-11-01       5.9168          0.226331
6   2015년   12월 2015-12-01       6.9555          0.384041
7   2016년    1월 2016-01-01       8.5640          0.138815
8   2016년    2월 2016-02-01       7.6407          0.324395
9   2016년    3월 2016-03-01       5.6442          0.134900
10  2016년    4월 2016-04-01       6.2668          0.257737
11  2016년    5월 2016-05-01       6.4106          0.174468
12  2016년    6월 2016-06-01       6.1599          0.678630
13  2016년    7월 2016-07-01       7.1641          0.579770
14  2016년    8월 2016-08-01       7.8023          0.436359
15  2016년    9월 2016-09-01       7.2200          0.543725
16  2016년   10월 2016-10-01       7.3819          0.233112
17  2016년   11월 2016-11-01       8.2274          0.390515
18  2016년   12월 2016-12-01       9.9578          0.431644
19  2017년    1월 2017-01-01      11.2078          0.308711
20  2017년    2월 2017-02-01       9.4803          0.240763
21  2017년    3월 2017-03-01       8.6945          0.540431
22  2017년    4월 2017-04-01       8.4249          0.344370
23  2017년    5월 2017-05-01       7.9543          0.240804
24  2017년    6월 2017-06-01       7.2031          0.169353
25  2017년    7월 2017-07-01       7.1320         -0.004481
26  2017년    8월 2017-08-01       7.5390         -0.033746
27  2017년    9월 2017-09-01       7.2012         -0.002604
28  2017년   10월 2017-10-01       9.4207          0.276189
29  2017년   11월 2017-11-01       9.8161          0.193099
30  2017년   12월 2017-12-01      11.3641          0.141226
31  2018년    1월 2018-01-01      12.9355          0.154152
32  2018년    2월 2018-02-01       9.2515         -0.024134
33  2018년    3월 2018-03-01       7.8392         -0.098373
34  2018년    4월 2018-04-01       6.6555         -0.210020
35  2018년    5월 2018-05-01       7.6389         -0.039652
36  2018년    6월 2018-06-01       6.4436         -0.105441
37  2018년    7월 2018-07-01       6.2696         -0.120920
38  2018년    8월 2018-08-01       7.1653         -0.049569
39  2018년    9월 2018-09-01       7.7457          0.075612
40  2018년   10월 2018-10-01       9.0026         -0.044381
41  2018년   11월 2018-11-01      10.0382          0.022626
42  2018년   12월 2018-12-01      10.9266         -0.038498
43  2019년    1월 2019-01-01      11.6976         -0.095698
44  2019년    2월 2019-02-01      11.4425          0.236826
45  2019년    3월 2019-03-01       9.4907          0.210672
46  2019년    4월 2019-04-01       8.0214          0.205229
47  2019년    5월 2019-05-01       8.0273          0.050845

In [14]:
# 6.xx) 날짜 필터링된 데이터프레임의 시작과 끝 년월을 문자열로 추출
#------------------
startYear,startMonth,endYear,endMonth = utils2.getStrYearAndMonth(countryDataFrame)

print(startYear)
print(startMonth)

print(endYear)
print(endMonth)

2015년
6월
2019년
5월

In [15]:
# 7) 결과를 CSV로 저장
#------------------
fileRoot = f'./data/'
fileName = f'{countryNameKor}_{countryNameEng}DataFrame_({startYear}{startMonth}~{endYear}{endMonth})'
fileExtention = '.csv'
filePath = fileRoot + fileName + fileExtention

countryDataFrame.to_csv(filePath, encoding='utf-8-sig', index=False)
countryDataFrame

     Year Month       Date  NumVisitors  annualGrowthRate
0   2015년    6월 2015-06-01       3.6696          0.084718
1   2015년    7월 2015-07-01       4.5349          0.229437
2   2015년    8월 2015-08-01       5.4320          0.238345
3   2015년    9월 2015-09-01       4.6770          0.242825
4   2015년   10월 2015-10-01       5.9864          0.247583
5   2015년   11월 2015-11-01       5.9168          0.226331
6   2015년   12월 2015-12-01       6.9555          0.384041
7   2016년    1월 2016-01-01       8.5640          0.138815
8   2016년    2월 2016-02-01       7.6407          0.324395
9   2016년    3월 2016-03-01       5.6442          0.134900
10  2016년    4월 2016-04-01       6.2668          0.257737
11  2016년    5월 2016-05-01       6.4106          0.174468
12  2016년    6월 2016-06-01       6.1599          0.678630
13  2016년    7월 2016-07-01       7.1641          0.579770
14  2016년    8월 2016-08-01       7.8023          0.436359
15  2016년    9월 2016-09-01       7.2200          0.543725
16  2016년   10월 2016-10-01       7.3819          0.233112
17  2016년   11월 2016-11-01       8.2274          0.390515
18  2016년   12월 2016-12-01       9.9578          0.431644
19  2017년    1월 2017-01-01      11.2078          0.308711
20  2017년    2월 2017-02-01       9.4803          0.240763
21  2017년    3월 2017-03-01       8.6945          0.540431
22  2017년    4월 2017-04-01       8.4249          0.344370
23  2017년    5월 2017-05-01       7.9543          0.240804
24  2017년    6월 2017-06-01       7.2031          0.169353
25  2017년    7월 2017-07-01       7.1320         -0.004481
26  2017년    8월 2017-08-01       7.5390         -0.033746
27  2017년    9월 2017-09-01       7.2012         -0.002604
28  2017년   10월 2017-10-01       9.4207          0.276189
29  2017년   11월 2017-11-01       9.8161          0.193099
30  2017년   12월 2017-12-01      11.3641          0.141226
31  2018년    1월 2018-01-01      12.9355          0.154152
32  2018년    2월 2018-02-01       9.2515         -0.024134
33  2018년    3월 2018-03-01       7.8392         -0.098373
34  2018년    4월 2018-04-01       6.6555         -0.210020
35  2018년    5월 2018-05-01       7.6389         -0.039652
36  2018년    6월 2018-06-01       6.4436         -0.105441
37  2018년    7월 2018-07-01       6.2696         -0.120920
38  2018년    8월 2018-08-01       7.1653         -0.049569
39  2018년    9월 2018-09-01       7.7457          0.075612
40  2018년   10월 2018-10-01       9.0026         -0.044381
41  2018년   11월 2018-11-01      10.0382          0.022626
42  2018년   12월 2018-12-01      10.9266         -0.038498
43  2019년    1월 2019-01-01      11.6976         -0.095698
44  2019년    2월 2019-02-01      11.4425          0.236826
45  2019년    3월 2019-03-01       9.4907          0.210672
46  2019년    4월 2019-04-01       8.0214          0.205229
47  2019년    5월 2019-05-01       8.0273          0.050845